* {
    box-sizing: border-box;
}

body {
    margin: 27px;
    background: #f3f6fb;
}
div.profile-card {
    width: 720px;
    min-width: 720px;
    margin: 40px auto;
    padding: 16px 20px;
    background: linear-gradient(135deg, #00a2ff, #00d2ff);
    border-radius: 22px;
    box-shadow: 0 18px 35px rgba(0, 0, 0, 0.18);
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    align-items: center;
    color: #fff;
    font-weight: 600;
}
.profile-card > img {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    object-fit: cover;
    margin: 10px 20px;
    flex-shrink: 0;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.35);
    
}

div.info-mhs ul{
    display: flex;
    list-style: none;
    flex-direction: row;
    gap: 10px;
    padding: 0;
    
}
.info-mhs .badge-mhs li{
    background: rgba(243, 246, 251, 0.35); 
    border-radius: 20px;
    padding: 4px 10px;
}
.badge-mhs li:hover{
    transition: all 0.3s ease;
    transform: translate(5px, -5px);
    cursor: default;
}
.icon-dunno li{
    display: flex;
    gap: 6px;
    align-items: center;
}
.icon-dunno svg{
    margin-right: 3x;
}
.profile-card .btn-portfolio{
    margin: 10px auto;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    background: rgb(255, 255, 255);
    color: #1f75e6;
    border-radius: 10px;
    padding: 15px;
    text-decoration: none;
    font-weight: 600;
    
}
.btn-portfolio:hover {
  background: #000000c2;
  transition: all 0.3s ease;
  transform: translateY(-5px);
}
